@using PagedList;
@using PagedList.Mvc;

@model IPagedList<WebApplication1.Models.ViewModel.QuyDinhTGViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="list-employee">
    <h1>QUY ĐỊNH THỜI GIAN</h1>

    <div class="list-detail">
        @using (Html.BeginForm("Index", "QuyDinhTG", FormMethod.Get))
        {
            <div class="row">
                <div class="form-check d-flex">
                    <span class="search-title">Tìm kiếm theo : </span>
                    <label class="radio-inline">
                        @Html.RadioButton("loaiTimKiem", "MaQuyDinh", false, new { @class = "mr-2" })<span> Mã quy định</span>
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButton("loaiTimKiem", "TenQuyDinh", false, new { @class = "mr-2" })<span> Tên quy định</span>
                    </label>
                </div>
            </div>
            <div class="row mt-3">

                <input class="input-search" type="text" placeholder="Nhập từ khóa tìm kiếm..." name="tenTimKiem" />
                <button class="btn btn-search" type="submit"><i class="fas fa-search"></i> Tìm kiếm</button>
                <a href='@Url.Action("Index", "QuyDinhTG")' class="btn btn-reload" style="color:black"><i class="fas fa-sync-alt"></i> Tải lại</a>
            </div>
        }

    </div>
    <br />
    @Html.Partial("_Notifications")
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().MaQuyDinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TenQuyDinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().GiaTri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().GhiChu)
            </th>
            <th>Chức năng</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaQuyDinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenQuyDinh)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaTri)
                </td>
                <td>
                    <div class="truncated-box">

                        @Html.DisplayFor(modelItem => item.GhiChu)
                    </div>
                </td>
                <td>

                    <a href='@Url.Action("Details","QuyDinhTG", new { id = item.MaQuyDinh })' class="btn-detail" style="color:black"><i class="fas fa-eye"></i></a>
                    <a href='@Url.Action("Edit","QuyDinhTG", new { id = item.MaQuyDinh })' class="btn-edit" style="color:black"><i class="fas fa-pen-alt"></i></a>

                </td>
            </tr>
        }

    </table>

    @Html.PagedListPager(Model,
               page => Url.Action("Index", new { page, loaiTimKiem = Request.QueryString["loaiTimKiem"], tenTimKiem = Request.QueryString["tenTimKiem"] }),
               new PagedListRenderOptions()
               {
                   Display = PagedListDisplayMode.IfNeeded,
                   DisplayPageCountAndCurrentLocation = true,

               })
</div>