@model WebApplication1.Models.DonNghiPhep

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DonNghiPhep</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NgayNghi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayNghi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CaNghi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CaNghi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LyDo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LyDo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NguoiDuyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDuyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.HoTen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDonNghiPhep }) |
    @Html.ActionLink("Back to List", "Index")
</p>
